/* main styles */

.mac_address {
	color: black;
	font-family: Courier;
	text-decoration: none;
}

#element_to_pop_ping { 
    background-color:#fff;
    border-radius:5px;
    color:#000;
    display:none; 
    padding:2px;
    min-width:400px;
    min-height: 400px;
	max-height: 400px;
}
.b-close{
    cursor:pointer;
    position:absolute;
    right:10px;
    top:5px;
}

.fit_div {
    display: inline; /* Or inline-block */
}

.podlkGepon {
	background-color: #00FF00;
	text-align: center;
	white-space: nowrap;
	padding: 3px;
}
.podlkMove2Gepon {
	background-color: #008000;
	text-align: center;
	white-space: nowrap;
	padding: 3px;
}
.podlkEthernet {
	background-color: #F0E68C;
	text-align: center;
	white-space: nowrap;
	padding: 3px;
}
.podlkDone {
	background-color: #A9A9A9;
	text-align: center;
	white-space: nowrap;
	padding: 3px;
}
.podklStatDone {
	background-color: #A9A9A9;
	text-align: center;
	white-space: nowrap;
	padding: 3px;
}
.podklStatPause {
	background-color: #EE82EE;
	text-align: center;
	white-space: nowrap;
	padding: 3px;
}
.podklStatWork {
	background-color: #00FF00;
	text-align: center;
	white-space: nowrap;
	padding: 3px;
}
.captionColumn {
	background-color: #ff8f1e;
	text-align: center;
	white-space: nowrap;
	width: 14%;
	padding: 3px;
}